.homepage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: #F2F4F4;
}

.homepage__content {
  flex: 1;
  max-width: 600px; 
  margin-left: 50px;
}

.homepage__content h2 {
  color: #144789;
  font-size: 3.8rem; 
  line-height: 1.2; 
}

.homepage__content p {
  color: #37474f;
  max-width: 600px; 
  font-size: 1.7rem;
  line-height: 1.5; 
}

.homepage__content span {
  color: red;
}

.homepage__form-box {
  flex: 1;
  max-width: 400px;
  background-color: #cbc9c9; 
  border-radius: 25px; 
  padding: 1.5rem; 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  margin-right: 100px; 
  transition: box-shadow 0.4s ease;
}
.homepage__form-box:hover {
  box-shadow: 0px 8px 12px rgba(1, 1, 0, 0.8);
}

.homepage__form {
  width: 100%; 
}

.homepage__form form {
  display: flex;
  flex-direction: column;
}

.homepage__form label {
  margin-bottom: 0.5rem;
  color: #4f626c;
}

.homepage__form input,
.homepage__form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  height: 20px;
}

.homepage__form textarea {
  height: 100px;
}

.homepage__form button {
  padding: 0.5rem 1rem;
  background-color: #1a73e8;
  color: #ffffff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 200px;
  margin: 0 auto; 
  display: block; 
}

.homepage__form button:hover {
  background-color: #084080; 
  color: #f0f0f0; 
}

.homepage__form button:active {
  background-color: #061c30; 
  color: #e0e0e0; 
}

@media (max-width: 768px) {
  .homepage {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .homepage__content {
    margin-left: 0;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 90%;
  }

  .homepage__content h2 {
    font-size: 3rem; 
  }

  .homepage__content p {
    font-size: 1.2rem; 
  }

  .homepage__form-box {
    margin-right: 0; 
    width: 80%; 
    max-width: 600px; 
    transform: translateX(0); 
    margin-top: 1rem; 
  }
}
